/* Center the whole page content */
body {
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* Header */
h2 {
  background-color: #bab5b5;
  color: white;
  border: 1px solid var(--color-fg);
  border-radius: 0.5em;
  padding: 1%;
  margin-top: 1em;
  font-size: 1.5rem;
}
p {
  margin-top: 0px;
  margin-bottom: 3px;
}

/* Outer container */
.chat-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Chat and sidebar layout */
.chat-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 450px;
  justify-content: center;
}

/* Message area */
.message-area {
  background-color: whitesmoke;
  width: 70%;
  border: 1px solid var(--color-fg);
  border-radius: 0.5rem;
  height: 100%;
  /* text-align: right; */
  /* padding-right: 20px; */
  display: block;
  overflow-y: auto;
}
#message-from {
  width: 100%;
}
.outerDivMessageArea {
  margin: 1%;
  padding: 2%;
  background-color: #bab5b5;
  border-radius: 0.7em;
  word-wrap: break-word;
}
.messageParMessageArea {
  margin: auto;
}

/* Sidebar */
.sidebar {
  width: 20%;
  /* border: 1px solid var(--color-fg); */
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
}

/* Sidebar header */
.sidebar-header {
  background-color: whitesmoke;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border-radius: 6px;
  border: 1px solid var(--color-fg);
  width: 98%;
}

/* Sidebar body */
.sidebar-body {
  background-color: whitesmoke;
  height: 85%;
  justify-content: center;
  align-items: center;
  margin: 1px;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid black;
  width: 98%;
  overflow-y: auto;
}
.sidebar-ul {
  margin-top: 1%;
  list-style-type: none;
  padding-left: 1rem;
}

.sidebar-ul li {
  padding: 0px;
  white-space: nowrap;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: #0dcf1d;
  border-radius: 50%;
  margin-bottom: 2px;
  margin-left: 1px;
  display: inline-block;
}
/* Message input row */
.input-row {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 80%;
  align-items: center;
  margin-left: 75px;
  /* padding-left: 20px; */
  margin-top: 1em;
}

/* Message input */
.message-input {
  width: 95%;
  border: 1px solid var(--color-fg);
  border-radius: 0.5rem;
  height: 2.5em;
  padding-left: 10px;
  width: 100%;
}

/* Send button */
.send-button {
  padding: 0.5em 1em;
  background-color: var(--color-fg);
  color: var(--color-bg);
  border: 1px solid var(--color-fg);
  border-radius: 0.5rem;
  margin-left: 1em;
  height: 3em;
  width: fit-content;
  cursor: pointer;
}
.fileUploadButton {
  padding: 0.5em 1em;
  background-color: var(--color-fg);
  color: var(--color-bg);
  border: 1px solid var(--color-fg);
  border-radius: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}
.fileUploadButton:hover {
  opacity: 0.8;
}

.send-button:active {
  opacity: 0.4;
}
.send-button:hover {
  opacity: 0.8;
}

.deleteButton:hover {
  opacity: 0.8;
}
.deleteButton:active {
  opacity: 0.4;
}
.indicator-p {
  margin: 1px;
}
.deleteButton {
  padding: 0.5em 1em;
  background-color: var(--color-fg);
  /* background-color: var(--color-bg);x */
  color: var(--color-bg);
  border: 1px solid var(--color-fg);
  border-radius: 0.5rem;
  margin-left: 7em;
  height: 2em;
  width: fit-content;
  cursor: pointer;
}
#selection-outer {
  z-index: 1;
  position: relative;
  left: 1%;
  right: 1%;
  top: 2%;
  bottom: auto;
}
#fileElement {
  color: var(--color-fg);
}

.emoji-div {
}
label {
  white-space: nowrap;
  color: var(--color-fg);
}

@media (max-width: 600px) {
  .input-row {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 50%;
    align-items: center;
    margin-left: -100px;
    /* padding-left: 20px; */
    margin-top: 1em;
  }
  .message-input {
    width: 50%;
  }
  .send-button {
    position: relative;
    left: -168%;
  }
  .selection {
    position: relative;
    top: 1%;
    bottom: 1%;
  }
  .chat-container {
    width: 117%;
  }
  .sidebar {
    width: 25%;
  }
}

:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --bg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --bg: #000000;
}

/* example use of CSS custom properties */
body {
  background-color: var(--color-bg);
  color: var(--bg);
  border: var(--color-fg);
}
